[alias]
        br = branch --verbose --verbose
        ci = commit
        co = checkout
        l = log --decorate --name-status
        ll = log --decorate --name-status --all
        f = fetch --all --prune --tags
        p = pull --all --prune
        pushf = push --force
        st = status --short --branch
        sub = submodule
        subup = submodule update --recursive --init
[color]
        ui = auto
[core]
        autocrlf = input
        editor = /usr/bin/vim
        excludesFile = ~/.gitignore
[credential]
        helper = osxkeychain
[diff]
        algorithm = patience
        indentHeuristic = true
[filter "lfs"]
        clean = git-lfs clean -- %f
        process = git-lfs filter-process
        required = true
        smudge = git-lfs smudge -- %f
[pull]
        rebase = false
[push]
        autoSetupRemote = true
[rebase]
        autosquash = true
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[user]
        useConfigOnly = true
	name = Touch Ungboriboonpisal
	email = erks@users.noreply.github.com
[init]
	defaultBranch = main
[beads]
	role = maintainer
